.footerarea {
    flex: 0 0 100%;
    height: 40px;
    text-align: right;
    /* margin-top: 60px; */
    /* padding-right: 25px; */
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}
.footerarea p {
    font-size: 16px;
    font-family: nikosh;
    font-weight: normal;
    line-height: 45px;
    margin-right: 25px;
}

span.revefooter {
    color: #1473E6;
    font-size: 20px;
    font-family: nikosh;
}