
/* ============================================
    General Reset Code
=============================================== */
@font-face { 
    font-family: 'Noto Sans Bengali UI';
    
    src: url('Fonts/Noto_Sans_Bengali_UI/Noto_Sans_Bengali_UI-Black.ttf') format('ttf');
    src: url('Fonts/Noto_Sans_Bengali_UI/Noto_Sans_Bengali_UI-Bold.ttf') format('ttf');
    src: url('Fonts/Noto_Sans_Bengali_UI/Noto_Sans_Bengali_UI-Extra_Bold.ttf') format('ttf');
    src: url('Fonts/Noto_Sans_Bengali_UI/Noto_Sans_Bengali_UI-Extra_Light.ttf') format('ttf');
    src: url('Fonts/Noto_Sans_Bengali_UI/Noto_Sans_Bengali_UI-Light.ttf') format('ttf');
    src: url('Fonts/Noto_Sans_Bengali_UI/Noto_Sans_Bengali_UI-Medium.ttf') format('ttf');
    src: url('Fonts/Noto_Sans_Bengali_UI/Noto_Sans_Bengali_UI-Regular.ttf') format('ttf');
    src: url('Fonts/Noto_Sans_Bengali_UI/Noto_Sans_Bengali_UI-Semi_Bold.ttf') format('ttf');
    src: url('Fonts/Noto_Sans_Bengali_UI/Noto_Sans_Bengali_UI-Thin.ttf') format('ttf');    


    /* src: url('Fonts/Noto_Sans_Bengali_UI/Noto_Sans_Bengali_UI-Black.woff') format('woff');
    src: url('Fonts/Noto_Sans_Bengali_UI/Noto_Sans_Bengali_UI-Bold.woff') format('woff');
    src: url('Fonts/Noto_Sans_Bengali_UI/Noto_Sans_Bengali_UI-Extra_Bold.woff') format('woff');
    src: url('Fonts/Noto_Sans_Bengali_UI/Noto_Sans_Bengali_UI-Extra_Light.woff') format('woff');
    src: url('Fonts/Noto_Sans_Bengali_UI/Noto_Sans_Bengali_UI-Light.woff') format('woff');
    src: url('Fonts/Noto_Sans_Bengali_UI/Noto_Sans_Bengali_UI-Medium.woff') format('woff'); */

    src: url('Fonts/Noto_Sans_Bengali_UI/Noto_Sans_Bengali_UI-Regular.woff') format('woff');


    }


    /* @font-face { 
        font-family: 'Noto Sans Bengali UI';

    
    
        } */
    



@font-face { 
    font-family: 'Roboto', sans-serif;

    src: url('fonts/Roboto/Roboto-Black.ttf') format('ttf');
    src: url('fonts/Roboto/Roboto-BlackItalic.ttf') format('ttf');
    src: url('fonts/Roboto/Roboto-Bold.ttf') format('ttf');
    src: url('fonts/Roboto/Roboto-BoldCondensed.ttf') format('ttf');
    src: url('fonts/Roboto/Roboto-BoldCondensedItalic.ttf') format('ttf');
    src: url('fonts/Roboto/Roboto-BoldItalic.ttf') format('ttf');
    src: url('fonts/Roboto/Roboto-Condensed.ttf') format('ttf');
    src: url('fonts/Roboto/Roboto-CondensedItalic.ttf') format('ttf');
    src: url('fonts/Roboto/Roboto-Italic.ttf') format('ttf');
    src: url('fonts/Roboto/Roboto-Light.ttf') format('ttf');
    src: url('fonts/Roboto/Roboto-LightItalic.ttf') format('ttf');
    src: url('fonts/Roboto/Roboto-Medium.ttf') format('ttf');
    src: url('fonts/Roboto/Roboto-MediumItalic.ttf') format('ttf');
    src: url('fonts/Roboto/Roboto-Regular.ttf') format('ttf');
    src: url('fonts/Roboto/Roboto-Thin.ttf') format('ttf');
    src: url('fonts/Roboto/Roboto-ThinItalic.ttf') format('ttf');

    /* src: url('fonts/Roboto/Roboto-Black.woff') format('woff');
    src: url('fonts/Roboto/Roboto-BlackItalic.woff') format('woff');
    src: url('fonts/Roboto/Roboto-Bold.woff') format('woff');
    src: url('fonts/Roboto/Roboto-BoldCondensed.woff') format('woff');
    src: url('fonts/Roboto/Roboto-BoldCondensedItalic.woff') format('woff');
    src: url('fonts/Roboto/Roboto-BoldItalic.woff') format('woff');
    src: url('fonts/Roboto/Roboto-Condensed.woff') format('woff');
    src: url('fonts/Roboto/Roboto-CondensedItalic.woff') format('woff');
    src: url('fonts/Roboto/Roboto-Italic.woff') format('woff');
    src: url('fonts/Roboto/Roboto-Light.woff') format('woff');
    src: url('fonts/Roboto/Roboto-LightItalic.woff') format('woff');
    src: url('fonts/Roboto/Roboto-Medium.woff') format('woff');
    src: url('fonts/Roboto/Roboto-MediumItalic.woff') format('woff'); */

    src: url('fonts/Roboto/Roboto-Regular.woff') format('woff');

    /* src: url('fonts/Roboto/Roboto-Thin.woff') format('woff');
    src: url('fonts/Roboto/Roboto-ThinItalic.woff') format('woff'); */

    }

    
@font-face { 
    font-family: 'SolaimanLipi', sans-serif;
    src: url('Fonts/SolaimanLipi/SolaimanLipi-Normal.ttf') format('ttf');
    src: url('Fonts/SolaimanLipi/SolaimanLipi-Normal.woff') format('woff');
}





*{
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

::before, ::after{
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
  }

body {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    height: auto;
    background-size: cover;
    background-position: center center;
    font-family: 'Nikosh';
    -webkit-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;          
    transition: all 0.3s ease;
    background-position-y:inherit;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;

    }

    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: #333;
    }
    
    h1, h2{
        font-weight: 300;
        line-height: 1.2;
        margin: 10px 0;
    }
    
    p{
        margin: 10px 0;
    }

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}




@media screen and (-webkit-min-device-pixel-ratio:0) { 
    body {
      font-size: 20px;      
      font-size-adjust: 0.5;
      }
  }
