@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
@import "all.css";
@import "reset.css";
@import "header.css";
@import "menu.css";
@import "maincontent.css";
@import "color.css";
@import "footer.css";
@import "responsive.css";




